@model Helperland.ViewModel.ContactusViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/js/main.js"></script>
    <link rel="stylesheet" href="~/css/style.css">

</head>

<body>

<!--Header contact page-->
<nav style="background-color: rgba(82, 82, 82, 0.9);" class="navbar navbar-dark navbar-expand-lg" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="#">
            <img id="navlogo" style="height: 54px; width: 73px" src="~/img/logo-large.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class=" navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex align-items-lg-center justify-content-lg-end justify-content-sm-start"
                id="navw">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="navbar-button btn btn-outline-light">Book a Cleaner</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-action="prices">Prices & Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Warranty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Contact">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="navbar-button btn btn-outline-light">Login</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">
                        <button type="button" class="navbar-button btn btn-outline-light">Become a Helper</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--contact page image-->
<img class="w-100" src="~/img/group-16_2.png" alt="contact main image">

<!--contact us -->
<div class="container-fluid contact-us-page">
    <h1 class="text-center py-3 page-title-faq-prices-page">Contact Us</h1>
    <div class="d-flex justify-content-center forma-1-copy-5-faq-prices-page"><img src="~/img/forma-1-copy-5.png" width="24" height="25" alt=""></div>
    <div class="content">
        <div class="contact-us-image-page d-flex justify-content-around flex-wrap">
            <div class="icon">
                <div class="img"><img src="~/img/forma-1_2.png" alt="" class="img-fluid" height="54px"
                        width="34px"></div>
                <span>1111 Lorem ipsum text 100, <br> Lorem ipsum AB</span>
            </div>
            <div class="icon">
                <div class="img"><img src="~/img/phone-call.png" alt="" class="img-fluid" height="50px"
                        width="44px"></div>
                <span>+49 (40) 123 56 7890 <br>+49 (40) 123 56 7890</span>
            </div>
            <div class="icon">
                <div class="img"><img src="~/img/vector-smart-object.png" alt="" class="img-fluid" height="37px"
                        width="61px"></div>
                <span>info@helperland.com</span>
            </div>
        </div>

        <!--get in touch contact page-->
        <section class="contact">
        <div class="get-in-touch-contact-us-page">
            <h2 class="text-center py-3 page-title-faq-prices-page">Get in touch with us</h2>
            <div class="contact-us-form d-flex justify-content-between flex-wrap mx-auto">
                <form class="row  g-3" asp-action="Contact" asp-controller="Home">
                    <div class="col-md-6">
                        <input type="text" asp-for="FirstName" class="form-control" id="Firstname" placeholder="First Name" required>
                    </div>
                    <div class="col-md-6">
                        <input type="text" asp-for="LastName" class="form-control" id="Lastname" placeholder="Last Name" required>
                    </div>
                    <div class="col-md-6">
                        <div class="row g-0">
                            <div class="col-sm-12 input-group mobile">
                                <span class="country-code align-items-center justify-content-center">+49</span>
                                <input type="tel" asp-for="PhoneNumber" class="form-control" id="Phone number" placeholder="Mobile Number" pattern="[0-9]{10}" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="email" asp-for="Email" class="form-control" id="Email" placeholder="Email address" required>
                    </div>
                    <div class="col-md-12">
                        <select asp-for="Subject" class="form-select form-sub" aria-label="Default select example">
                            <option selected value="General">General</option>
                            <option value="Inquiry">Inquiry</option>
                            <option value="Renewal">Renewal</option>
                            <option value="Reluctance">Reluctance</option>
                        </select>                    
                    </div>
                    <div class="col-md-12">
                        <textarea class="form-control" asp-for="Message" id="message" placeholder="Messages" rows="4"></textarea>
                    </div>
                    <div class="col-md-12 text-center bt">
                        <button class="c_sub_btn" type="submit" name="Submit"><h3>Submit</h3></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
        




    

    </div>
</div>


<!--image contact page-->
<section id="map-image-contact-us-page">
    <img src="~/img/group-16.png" alt="" class="img-fluid">
    <img src="~/img/pin.png" alt="" class="img-fluid pin">
</section>


<!--Newsletter contact page -->
<div class="pb-5 text-center" >
        <h1 id="newsletter-home-page-common" class="text-center pt-5 pb-2 text-uppercase">Get our newsletter</h1>
        <div class="form-row d-flex justify-content-center align-items-center" id="newsletter-email-home-page-common">
                <div class="form-group" style="margin-right: 10px">
                    <label for="email" style="display: none;">YOUR EMAIL</label>
                    <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
                </div>
                <div class="btn-wrapper">
                    <button id="email-submit-button" class="btn" type="submit">Submit</button>
                </div>
            </div>
    </div>

<!--footer contact page -->
<footer id="home-page-footer-common">
    <div class="d-flex flex-column flex-md-row justify-content-around align-items-center">
        <img src="~/img/footer-logo.png" alt="" width="120" height="92">
        <ul class="d-flex text-uppercase" id="home-page-footer-list-common">
            <li>home</li>
            <li>about</li>
            <li>testimonials</li>
            <li>faqs</li>
            <li>insurance policy</li>
            <li>impressum</li>
        </ul>
        <div class="px-4 d-flex" id="home-page-footer-social-media-common">
            <div>
                <img src="~/img/ic-facebook.png" width="9" height="18" alt="">
            </div>
            <div>
                <img src="~/img/ic-instagram.png" width="20" height="20" alt="">
            </div>
        </div>

    </div>
    <hr class="mx-5" style="background-color: white;">
    <p class="text-center" style="font-size: 14px; color: #9BA0A3">©2018 Helperland. All rights reserved. Terms and
        Conditions | Privacy Policy</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


   
</body>

</html>