<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="navbar-home-page">
        <nav class="navbar navbar-dark fixed-top navbar-expand-lg" id="nav">
            <div class="container-fluid">
              <a class="navbar-brand me-auto" href="#">
                    <img id="navlogo" src="./img/logo-large.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class=" navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav d-flex align-items-lg-center justify-content-lg-end justify-content-sm-start" id="navw">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">
                                <button type="button" class="btn btn-outline-light">Book a Cleaner</button>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" asp-action="prices">Prices</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Our Guarantee</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Contact">Contact us</a></li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">
                                <button type="button" class="btn btn-outline-light">Login</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">
                                <button type="button" class="btn btn-outline-light">Become a Helper</button>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="./img/flag.png" alt="ic-flag">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="navbarDropdown" >
                                <li><a class="dropdown-item" href="#"><img src="./img/flag.png" alt="">
                                        <span class="span-drop">INDIA</span> </a></li>
                                <li><a class="dropdown-item" href="#"><img src="./img/flag.png" alt="">
                                        <span class="span-drop">CANADA</span> </a></li>
                                <li><a class="dropdown-item" href="#"><img src="./img/flag.png" alt="">
                                        <span class="span-drop">GERMANY</span> </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--list Home page -->
        <div id="list-home-page-middle">
            <h1 style="font-size: 50px;">Lorem ipsum text</h1>
            <ul class="d-flex flex-column" style="list-style-type: none;">
                <li><img src="./img/ic-check.png">&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li><img src="./img/ic-check.png">&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                <li><img src="./img/ic-check.png">&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing</li>
            </ul>
        </div>
        <!--book a cleaner center button home page-->
        <div class="text-center">
            <button id="book-cleaner-button" type="button" class="btn btn-lg btn-outline-light px-4">Let's Book a
                Cleaner</button>
        </div>

        <!--Steps home page -->
        <div class="d-flex justify-content-around container w-75" id="steps-home-page-middle">
            <div class="text-center">
                <img class="mb-4" src="./img/step-1.png" width="52" height="55" alt="">
                <p>Enter your postcode</p>
            </div>
            <img class="mt-3" src="./img/step-arrow-1.png" width="85" height="23" alt="">
            <div class="text-center">
                <img class="mb-4" src="./img/step-2.png" width="57" height="60" alt="">
                <p>Select your plan</p>
            </div>
            <img class="mt-4" src="./img/arr_2.png" width="85" height="23" alt="">
            <div class="text-center">
                <img class="mb-4" src="./img/step-3.png" width="54" height="54" alt="">
                <p>Pay securely online</p>
            </div>
            <img class="mt-3" src="./img/step-arrow-1.png" width="85" height="23" alt="">
            <div class="text-center">
                <img class="mb-4" src="./img/step-4.png" width="62" height="63" alt="">
                <p>Enjoy amazing service</p>
            </div>
        </div>

        <!--Down page home page-->
        <div class="text-center py-3">
            <a href="#down-page-home-page"><img src="./img/group-18_5.png" width="40" height="40" alt=""></a>
        </div>
    </div>

     <!-- Why Helperland home page good to have feature-->
     <div class="why-helperland-home-page" id="why-helperland-home-page">
      <div class="container my-5 pb-5">
          <h1 class="title-heading text-center mb-5">Why Helperland</h1>
          <div class="content1 border">
              <div class="row">
                  <div class="col-md-4 col-sm-12 text-center my-3">
                      <img src="./img/why-1.png" alt="" class="img-fluid">
                      <div class="why-helperland-heading-in">Experience & Vetted Profesional</div>
                      <div class="inner-content">
                          dominate the industry in scale and scope with an adaptable, extensive network that
                          consistently delivers exceptional results.
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-12 text-center my-3">
                      <img src="./img/why-2.png" alt="" class="img-fluid">
                      <div class="why-helperland-heading-in">Secure Online Payment</div>
                      <div class="inner-content">
                          to our customers and are guided in all we do by their needs. The team is always happy to
                          support you and offer all the information.
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-12 text-center my-3">
                      <img src="./img/why-3.png" alt="" class="img-fluid">
                      <div class="why-helperland-heading-in">Dedicated Customer Service</div>
                      <div class="inner-content">
                          to our customers and are guided in all we do by their needs. The team is always happy to
                          support you and offer all the information.
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

    <!--why helperland home page good to have feature-->
    <div id="why-helperland-after-home-page">
        <div class="container">
            <div class="row">
                <div class="col-sm mx-auto">
                    <h2 id="why-helperland-after-heading">Lorem ipsum dolor sit amet, consectetur</h2>
                    <p id="why-helperland-after-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi
                        sapien,
                        suscipit ut accumsan vitae, pulvinar ac libero. <br /> <br /> Aliquam erat volutpat. Nullam quis
                        ex
                        odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet
                        pharetra.
                        Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula. <br /> <br /> Mauris consequat
                        ornare enim, sed lobortis quam ultrices sed.</p>
                </div>
                <div class="col-sm text-center" id="why-helperland-after-img">
                    <img src="./img/why_grp.png" alt="">
                </div>
            </div>
        </div>
    </div>
           
     <!--OUR BLOG home page good to have feature-->
      <section class="blog container">
        <h1 class="text-center my-5">Our Blog</h1>
        <div class="row justify-content-center">
              <div class="col-md">
                    <div class="card mx-auto">
                          <img class="card-img mx-auto d-block" src="./img/group-28.png">
                          <div class="card-body">
                                <h3 class="card-title">Lorem ipsum dolor sit amet</h3>
                                <p class="date">January 28, 2019</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                <a href="#">Read the Post <img class="ml-3" src="./img/shape-2.png" alt=""></a>
                          </div>
                    </div>
              </div>
              <div class="col-md">
                    <div class="card mx-auto">
                          <img class="card-img" src="./img/group-29.png">
                          <div class="card-body">
                                <h3 class="card-title">Lorem ipsum dolor sit amet</h3>
                                <p class="date">January 28, 2019</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                <a href="#">Read the Post <img class="ml-3" src="./img/shape-2.png" alt=""></a>
                          </div>
                    </div>
              </div>
              <div class="col-md">
                    <div class="card mx-auto">
                          <img class="card-img" src="./img/group-30.png">
                          <div class="card-body">
                                <h3 class="card-title">Lorem ipsum dolor sit amet</h3>
                                <p class="date">January 28, 2019</p>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                <a href="#">Read the Post <img class="ml-3" src="./img/shape-2.png" alt=""></a>
                          </div>
                    </div>
              </div>
        </div>
  </section>

<!--WHAT OUR CUSTOMERS SAYS good to have feature ...-->
    <div class="pb-5" id="down-page-home-page" style="background-color: #F4F5F8;">
        <h1 class="text-center py-5 what-our-customer-say-title-home-page">What Our Customers Say</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4" style="padding: 0 22px 10px 22px;">
                    <div class="card mx-auto customer-card">
                        <img src="./img/message.png" class="what-our-customer-say-message-img" width="33" height="36" alt="">
                        <div class="customer-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="./img/group-31.png" alt="">
                                </div>
                                <div class="d-flex flex-column col-sm-9 my-auto text-align-left">
                                    <h3 class="m-0 what-our-customer-say-customer-name-home-page">Lary Watson</h3>
                                    <p class="what-our-customer-say-customer-city-home-page m-0">Manchester</p>
                                </div>
                            </div>
                            <p class="card-text what-our-customer-say-customer-text-home-page pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Sed
                                fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh. <br /> <br />
                                Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                            <a href="#" class="card-link read-post">Read More &nbsp; <img
                                    src="./img/shape-2-copy-3.png" alt="right-arrow"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4" style="padding: 0 22px 10px 22px;">
                    <div class="card mx-auto customer-card">
                        <img src="./img/message.png" class="what-our-customer-say-message-img" width="33" height="36" alt="">
                        <div class="customer-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="./img/group-32.png" alt="">
                                </div>
                                <div class="d-flex flex-column col-sm-9 my-auto text-align-left">
                                    <h3 class="m-0 what-our-customer-say-customer-name-home-page">John Smith</h3>
                                    <p class="m-0 what-our-customer-say-customer-city-home-page">Manchester</p>
                                </div>
                            </div>
                            <p class="card-text what-our-customer-say-customer-text-home-page pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Sed
                                fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh. <br /> <br />
                                Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                            <a href="#" class="card-link read-post">Read More &nbsp; <img
                                    src="./img/shape-2-copy-3.png" alt="right-arrow"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4" style="padding: 0 22px 10px 22px;">
                    <div class="card mx-auto customer-card">
                        <img src="~/img/message.png" class="what-our-customer-say-message-img" width="33" height="36" alt="">
                        <div class="customer-card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="./img/group-33.png" alt="">
                                </div>
                                <div class="d-flex flex-column col-sm-9 my-auto text-align-left">
                                    <h3 class="m-0 what-our-customer-say-customer-name-home-page">Lars Johnson</h3>
                                    <p class="m-0 what-our-customer-say-customer-city-home-page">Manchester</p>
                                </div>
                            </div>
                            <p class="card-text what-our-customer-say-customer-text-home-page pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Sed
                                fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh. <br /> <br />
                                Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                            <a href="#" class="card-link read-post">Read More &nbsp; <img
                                    src="~/img/shape-2-copy-3.png" alt="right-arrow"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Newsletter home page -->
            <h1 id="newsletter-home-page-common" class="text-center pt-5 pb-2 text-uppercase">Get our newsletter</h1>
            <form class="form-inline">
                <div class="form-group d-flex justify-content-center" id="newsletter-email-home-page-common">
                    <div style="margin-right: 10px">
                        <input type="email" class="form-control" id="inputEmail" placeholder="YOUR EMAIL">
                    </div>
                    <div>
                        <button id="email-submit-button" class="btn" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--footer home page -->
    <footer class="d-flex justify-content-around align-items-center" id="home-page-footer-common">
        <img src="~/img/footer-logo.png" alt="" width="120" height="90">
        <ul class="d-flex text-uppercase" id="home-page-footer-list-common">
            <li><a asp-action="Index">home</a></li>
            <li><a asp-action="About">about</a></li>
            <li>testimonials</li>
            <li><a asp-action="faq">faqs</a></li>
            <li>insurance policy</li>
            <li>impressum</li>
        </ul>
        <div class="px-4 d-flex" id="home-page-footer-social-media-common">
            <div>
                <img src="~/img/ic-facebook.png" width="9" height="18" alt="Facebook logo">

            </div>
            <div>
                <img src="~/img/ic-instagram.png" width="20" height="20" alt="Instagram logo">
            </div>
        </div>
    </footer>

    <!-- Privacy Policy statement home page -->
    <section class="privacy fixed-bottom" id="privacy">
        <div class="row">
            <div class="col-lg-12  d-flex justify-content-center align-items-center py-3">
                <p class="ms-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc libero, ac
                    malesuada
                    ligula
                    aliquam
                    ac. <a href="#" class="policy"> Privacy Policy</a></p>
                <button class="btn-end ms-auto me-3">
                    <a id="hide-btn" onclick="removeFun()">Ok!</a>
                </button>
            </div>
        </div>
    </section> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
</body>
</html>