@model Helperland.Models.RegisterModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service-provider</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/js/~/js/service-pro.js"></script>
    <link rel="stylesheet" href="~/css~/css/style.css">
</head>

<body>

    <div id="navbar-service-page">
        <nav class="navbar navbar-dark fixed-top navbar-expand-lg" id="nav">
            <div class="container-fluid">
                <a class="navbar-brand me-auto" href="#">
                    <img id="navlogo" src="~/img/logo-large.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=" navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav d-flex align-items-lg-center justify-content-lg-end justify-content-sm-start"
                        id="navw">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">
                                <button type="button" class="btn btn-outline-light">Book a Cleaner</button>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="#">Prices</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Our Guarantee</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact us</a></li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">
                                <button type="button" class="btn btn-outline-light">Login</button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">
                                <button type="button" class="btn btn-outline-light">Become a Helper</button>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="./img/flag.png" alt="ic-flag">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#"><img src="~/img/flag.png" alt="">
                                        <span class="span-drop">INDIA</span> </a></li>
                                <li><a class="dropdown-item" href="#"><img src="~/img/flag.png" alt="">
                                        <span class="span-drop">CANADA</span> </a></li>
                                <li><a class="dropdown-item" href="#"><img src="~/img/flag.png" alt="">
                                        <span class="span-drop">GERMANY</span> </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    

        <!--Register now form service provider->become provider page-->
        <section>
            <div class="service_provider_become_pro">
                <div class="container">
                    <div class="form_service_provider mx-auto">
                        <form class="row g-3">
                            <h2>Register Now!</h2>
                            <div class="col-md-12">
                                <input type="text" name="Firstname" class="form-control" id="Firstname" placeholder="First Name"
                                    required>
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="Lastname" class="form-control" id="Lastname" placeholder="Last Name"
                                    required>
                            </div>
                            <div class="col-md-12">
                                <input type="email" name="Email" class="form-control" id="Email" placeholder="Email address"
                                    required>
                            </div>
                            <div class="col-md-12">
                                <div class="row g-0">
                                    <div class="col-sm-12 input-group">
                                        <span class="country-code align-items-center justify-content-center">+49</span>
                                        <input type="phone" name="Phonenumber" class="form-control" id="Phone number"
                                            placeholder="Mobile Number" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="password" name="password" class="form-control" id="password" placeholder="password"
                                    required>
                            </div>
                            <div class="col-md-12">
                                <input type="password" name="confirm_password" class="form-control" id="c_password"
                                    placeholder="confirm Password" required>
                            </div>
                            <div class="col-md-12 input-group">
                                <input type="checkbox" name="send_news_letter" id="send_news" class="form_check_box_service_provider">
                                <label class="form_check_label_service_provider">Send me newsletters from Helperland</label>
                            </div>
                            <div class="col-md-12 input-group">
                                <input type="checkbox" name="send_news_letter" id="send_news" class="form_check_box_service_provider">
                                <label class="form_check_label_service_provider">I accept <span style="color: #1fb6ff;">terms and conditions</span> &
                                <span style="color: #1fb6ff;">privacy policy</span></label>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="form_submit_button_service_provider" type="submit" name="Submit">
                                    <h3>Get Started <img src="~/img/arrow-white.png"></h3>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section> 
    </div>


    <!--how it works service provider->become provider page-->
    <section class="howitworks_service_provider">
        <div class="container">
            <h2 class="text-center">How it works</h2>
            <div class="howitwork_info mx-auto">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5 col-md-6">
                        <h3>Register yourself</h3>
                        <p>Provide your basic information to register<br>
                            yourself as a service provider.</p>
                        <p><a href="#">Read More <img src="~/img/shape-2.png"></a></p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="image-wrapper">
                            <img src="~/img/group-18(1).png" alt="Blog description">
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3 col-md-6">
                        <div class="image-wrapper">
                            <img src="~/img/group-18(2).png" alt="Blog description">
                        </div>
                    </div>   
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5 col-md-6">
                        <h3>Get service requests</h3>
                        <p>You will get service requests from<br>
                            customers depend op service area and profile.</p>
                        <p><a href="#">Read More <img src="~/img/shape-2.png"></a></p>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5 col-md-6">
                        <h3>Complete service</h3>
                        <p>Accept service requests from your customers<br>
                            and complete your work.</p>
                        <p><a href="#">Read More <img src="~/img/shape-2.png"></a></p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="image-wrapper">
                            <img src="~/img/group-18(3).png" alt="Blog description">
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Newsletter service provider->become provider page -->
    <div class="pb-5">
        <h1 id="newsletter-home-page-common" class="text-center pt-5 pb-2 text-uppercase">Get our newsletter</h1>
        <form class="form-inline">
            <div class="form-group d-flex justify-content-center" id="newsletter-email-home-page-common">
                <div style="margin-right: 10px">
                    <input type="email" class="form-control" id="inputEmail" placeholder="YOUR EMAIL">
                </div>
                <div>
                    <button id="email-submit-button" class="btn" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

        <!--footer service provider->become provider page -->
            <footer id="home-page-footer-common">
                <div class="d-flex flex-column flex-md-row justify-content-around align-items-center">
                    <img src="~/img/footer-logo.png" alt="" width="120" height="92">
                    <ul class="d-flex text-uppercase" id="home-page-footer-list-common">
                        <li>home</li>
                        <li>about</li>
                        <li>testimonials</li>
                        <li>faqs</li>
                        <li>insurance policy</li>
                        <li>impressum</li>
                    </ul>
                    <div class="px-4 d-flex" id="home-page-footer-social-media-common">
                        <div>
                            <img src="~/img/ic-facebook.png" width="9" height="18" alt="">
                        </div>
                        <div>
                            <img src="~/img/ic-instagram.png" width="20" height="20" alt="">
                        </div>
                    </div>
                </div>
                <hr class="mx-5" style="background-color: white;">
                <p class="text-center" style="font-size: 14px; color: #9BA0A3">©2018 Helperland. All rights reserved. Terms and
                    Conditions | Privacy Policy</p>
            </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</body>
</html>